<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.ambric.adesigner.launcher.design">
<stringAttribute key="com.ambric.adesigner.launcher.project" value="ColorConvertLab"/>
<stringAttribute key="com.ambric.adesigner.launcher.profilingCapture" value=""/>
<intAttribute key="com.ambric.adesigner.launcher.port" value="1697"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="{0}"/>
<booleanAttribute key="com.ambric.adesigner.launcher.hwHalt" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.debugServer" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressHw" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.ddrA" value=""/>
<intAttribute key="com.ambric.adesigner.launcher.simJavaIss" value="2"/>
<stringAttribute key="com.ambric.adesigner.launcher.profilingMeas" value=""/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressGen" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.hwExternal" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.host" value="localhost"/>
<stringAttribute key="com.ambric.adesigner.launcher.design" value="src/test/fft.design"/>
<mapAttribute key="com.ambric.adesigner.launcher.iofiles">
<mapEntry key="0,Stimulus" value="src\test\test.in"/>
<mapEntry key="0,Capture" value="src\test\test.out"/>
</mapAttribute>
<booleanAttribute key="com.ambric.adesigner.launcher.profilingHw" value="false"/>
<stringAttribute key="com.ambric.adesigner.launcher.ddrB" value=""/>
<booleanAttribute key="com.ambric.adesigner.launcher.profilingEnabled" value="false"/>
<booleanAttribute key="com.ambric.adesigner.launcher.simHalt" value="false"/>
<intAttribute key="com.ambric.adesigner.launcher.hwBoardId" value="0"/>
<intAttribute key="com.ambric.adesigner.launcher.type" value="1"/>
<booleanAttribute key="com.ambric.adesigner.launcher.regressSim" value="false"/>
</launchConfiguration>
